body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/1642770/pexels-photo-1642770.jpeg?cs=srgb&dl=dark-dawn-desktop-backgrounds-1642770.jpg&fm=jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: white;

}

#nav {

    margin-top: -22px;
    height: 10%;
}

#main {
    width: 90%;
    margin: auto;
}


#city {
    text-align: center;
    height: 8vh;
    border: 1px solid white;
    width: 40vh;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-size: large;
}

.section {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*  */
    background: rgba( 251, 245, 245, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgb(253, 253, 253);

}

.cityCountryInDiv1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.newELemDiv1,
.newELemDiv2 {
    width: 25%;
}

.newELemDiv2>img {
    height: 100px;
    margin-left: -12px;
    width: 100px;
}

.weatherNameInDiv1 {
    margin-top: 0px;
}


.forHour {
    height: 24vh;
    width: 80px;
    padding: 15px;
    /*  */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid white;
    text-shadow: 0px 0px 20px purple;

}

#slider {
    margin-top: 10px;
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    gap: 20px;
    padding: 5px;
    height: 40vh;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}
/* #slider::-webkit-scrollbar {
    display: none;
} */



.h2Slider {
    font-size: medium;
    margin: 0;
    padding: 0;
}

.h3Slider {
    font-size: medium;
    margin: 0;
    padding: 0;
}

.imgSlider {
    margin: 0;
    padding: 0;
}

.pSlider {
    font-size: small;
    margin: 0;
    padding: 0;
}

#list {
    margin-top: 10px;
    margin: auto;
    padding: 0;
    width: 95%;
}

.ForDays {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    
}.mainForCastDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 1px solid white;
    text-shadow: 0px 0px 20px purple;
    width: 100%;
    
}

.ForDaysDiv1 {
    font-size: large;
    width: 25%;

}

.ForDaysDiv2 {
    width: 25%;
}

.imgInDiv2 {
    height: 90px;
    width: 90px;
}

.ForDaysDiv3 {
    font-size: large;
    width: 35%;
}

.dateInDiv3 {
    font-size: medium;
}
.forNextDayHour{
    display: flex;
    flex-direction: column;
    height: 280px;
    overflow-y:scroll;
    width: 100%;
    
}#slider::-webkit-scrollbar,.forNextDayHour::-webkit-scrollbar{
    width: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid white;
    
}#slider::-webkit-scrollbar-thumb,.forNextDayHour::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}#slider::-webkit-scrollbar-track,.forNextDayHour::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;

}
.mainForCastDiv_Hour{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid white;
    text-shadow: 0px 0px 20px purple;
    
}
.newELem3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 0;
}
.forNextDayHour>.mainForCastDiv_Hour>p{
    width: 24%;
}

@media only screen and (max-width:800px) {
    .forHour {
        height: 28vh;
    }
}
