body{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#nav{
    
    margin-top: -22px;
    background-color: black;
    color :white;
    height: 10%;
}#first,#second,#third,#forth{
    width: 50%;
    margin-left: 25%;
}#first{
    display: flex;
    justify-content: center;
}

#city{
    text-align: center;
    height: 8vh;
    border: 1px solid black;
    width: 40vh;
    border-radius: 10px;
}#third,#forth,#second{
    display: flex;
    justify-content: space-between;

}#thirdone{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}